body {
    background-color: #3e6623;
}

header {
    background-image: linear-gradient(#000,#3e6623);
    color: #b8860b;
    padding: 10px;
}

.flex-row-space-between {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

.header-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}